:root {
  --charcoal: #1a1a1a;
  --light-charcoal: #4d4d4d;
  --darker-charcoal: #111;
  --soft-white: #e6e6e6;
  --softer-white: #d9d9d9;
  --gray: #cccccc;
  --dark-gray: #bfbfbf;
  --darker-gray: #8c8c8c;
  --light-blue: #57a8ff;
  --lighter-blue: #99caff;
}

*, :after, :before {
  box-sizing: border-box;
}

html {
  color: var(--dark-gray);
  /*
    Fluid typography formula
    calc(minFnt px + (maxFnt - minFnt) * (100vw - minScr px) / (maxScr - minScr);
  */
  font-size: calc(16px + (19 - 16) * (100vw - 320px) / (900 - 320));
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--charcoal);
  padding-bottom: 10px;
}

.scroll-offset {
  display: block;
  position: relative;
  top: -2rem;
  visibility: hidden;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--soft-white);
  text-shadow: 0px 0px 10px var(--charcoal);
}

h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 400;
  color: var(--softer-white);
}

h3 {
  color: var(--gray);
}

p {
  font-family: 'Cardo', serif;
  color: var(--dark-gray);
}

a {
  color: var(--darker-gray);
  text-decoration: none;
  font-weight: bold;
  transition: color .15s ease-in-out;
}

a:visited {
  color: var(--darker-gray);
}

a:hover {
  color: var(--dark-gray);
}

#nav-bar {
  position: fixed;
  width: 100%;
  background: var(--darker-charcoal);
}

#nav-container {
  position: relative;
  margin: auto;
  max-width: 900px;
  padding: 0.33rem 10px 0.33rem 10px;
  display: flex;
  justify-content: space-between;
}

#home-link {
  margin: 0 auto 0 0;
  padding: 0.5rem 0 0.5rem 0;
  color: var(--gray);
  font-size: 1.2rem;
  font-weight: normal;
}

.home-link:visited {
  margin: 0 auto 0 0;
  color: var(--gray);
}

#wide-nav {
  display: none;
}

#wide-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 33%;
  min-width: 190px;
}

#wide-nav li {
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#wide-nav a {
  font-size: 1.2rem;
}

#burger-menu {
  position: absolute;
  top:100%;
  right: -100%;
  transition: right .15s ease-in-out;
}

#burger-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  min-width: 190px;
}

.burger-item {
  display: inline-block;
  background: var(--darker-charcoal);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-top: 1px solid var(--light-charcoal);
}

.burger-item a {
  font-size: 1.5rem;
  font-weight: normal;
  width: 100%;
}

#burger-toggle {
  font-size: 2.3rem;
  margin-top: -0.4rem;
}

@media only screen and (min-width: 700px) {
  #nav-toggle {
    display: none;
  }
  #wide-nav {
    display: block;
  }
  #burger-menu {
    display: none;
  }
  #burger-toggle {
    display: none;
  }
}

.img-circle {
  height: 8rem;
  min-height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 2px 1px var(--soft-white);
}

#header-background {
  background:linear-gradient(to bottom, rgba(34, 34, 34, 0.4), rgba(0, 0, 0, 0.9)), url('../img/sedona-background.jpg') top center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  text-align: center;
  max-width: 900px;
  padding: 3rem 10px 2rem 10px;
  margin: auto;
}

.subheader {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: auto;
}

.icon {
  height: 24px;
}

.icon-link {
  transition: box-shadow .15s ease-in-out;
}

.icon-link:hover {
  box-shadow: 0px 0px 6px 4px var(--light-charcoal);
}

.icon-link-circle {
  border-radius: 50%;
  transition: box-shadow .15s ease-in-out;
}

.icon-link-circle:hover {
  box-shadow: 0px 0px 6px 4px var(--light-charcoal);
}

section {
  max-width: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem auto 3rem auto;
  padding: 0 10px 0 10px;
}

section::before {
  content: ' ';
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

section h2 {
  margin: 2rem auto;
}

.project {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.project:last-of-type {
  margin-bottom: 1rem;
}

.project h3 {
  margin-top: 0;
  text-align: center;
}

.project ul {
  font-family: 'Cardo', serif;
  font-size: 0.9rem;
}

.project-link-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:50%;
  margin: auto;
  padding-top: 25px;
}

.github-button-link {
  background: #F5F5F5;
  border-radius: 4px;
  color: var(--charcoal);
  text-decoration: none;
  padding: 2px 6px 3px 2px;
  height: 25px;
  display: flex;
  align-items: center;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #CCCCCC;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.github-button-link span {
  font-size: 12px;
  padding: 2px 0 1px 4px;
}

.github-button-link:hover {
  color: var(--charcoal);
  background: var(--soft-white);
  border-top: 1px solid #999999;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #999999;
  box-shadow: 0px 0px 2px 2px #808080;
}

.github-button-link:visited {
  color: var(--charcoal);
  text-decoration: none;
}

.border-link {
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
  padding: 3px 4px 2px 4px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.border-link:visited {
  text-decoration: none;
  color: var(--light-blue);
}

.border-link:hover {
  background: #333333;
  color: var(--lighter-blue);
  border-color: var(--lighter-blue);
  box-shadow: 0px 0px 1px 1px var(--lighter-blue);
}

.screenshot {
  display: block;
  width: 40%;
  min-width: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 4px var(--light-charcoal);
  margin: 2rem auto 1rem;
  transition: box-shadow .15s ease-in-out;
}

.screenshot:hover {
  box-shadow: 0px 0px 10px 5px var(--darker-gray);
}

#about-section {
  margin-bottom: 6rem;
}

#about-section p {
  margin: 0;
}

#contact-section {
  margin-top: 2rem;
}

#contact-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 1rem;
}

#contact-section ul li:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
}

#contact-section ul img {
  margin-right: 0.5rem;
}

@media only screen and (min-width: 900px) {
  html { 
    font-size: 1.2em; 
  }
  #contact-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .project {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
  }
  .project h3 {
    text-align: left;
  }
  .screenshot {
    width: 100%;
    margin: 0 auto;
  }
}

